@import "../settings";

.modal-wr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  pointer-events: none;
  z-index: 1003;
}

.modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: auto;
  overflow:hidden;
  border-radius: 2px;
  will-change: top, opacity;
  pointer-events: all;

  .modal-content {
    position: relative;
    @extend .z-depth-4;
    will-change: top, opacity;
    margin: 50px auto 50px auto;
    height: auto;
    width: 60%;
    background: #fff;
    border-radius: 3px;
    padding: .5rem;

    @media #{$medium-and-down} {
      width: 90%;
    }
  }
  .modal-close {
    font-size: 18px;
    text-transform: lowercase;
    font-variant: small-caps;
    cursor: pointer;
    margin-left:auto;
    margin-bottom: .5rem;
    line-height:1;
  }

  video {
    width: 100%;
  }
}
.lean-overlay {
    position: fixed;
    z-index:999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}


.modal-video-details {
  padding: .5rem 0 0 0;

  .modal-video-title {
    margin: 0;
    font-weight: 300;
    color: #6d6c6e;
    font-size: 20px;
    a {
      color: inherit;
    }
  }
  .modal-video-author {
    text-transform: uppercase;
    font-size: 9px;
    color: #8d8b8e;
  }
}

.modal-video-desc {
  font-size: ceil($font-size-base / 1.15);
  font-weight:300;
  color: inherit;
  position: relative;
  height: auto;
  max-height: 120px;
  overflow: hidden;
  padding-bottom: 40px;

  .show-more, .show-less {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
    text-align: center;
    line-height:4;
    color: #828282;
    font-size: 12px;
    text-transform: uppercase;

    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      background: #e1e1e1;
      width: 100%;
      top: 10px;
    }

    &:hover {
      color: #333;
    }
  }

  .show-less {
    display: none;
  }
}

.read-more {
  max-height: 3000px !important;
  .show-less {
    display: block;
  }
  .show-more {
    display: none;
  }
}



.modal-video-source {
  display: block;
  width: 100%;

  .source {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 10px;
    font-weight:300;
    text-transform: uppercase;

    span {
      margin-right:5px;
    }
  }

  svg {
    width: 13px;
    height: 13px;
  }
}

.ad {
  p {
    font-size: 50px;
    text-align: center;
  }
}
