@import "../settings";

// Typography
// --------------------------------------------------
html{
  line-height: $line-height-base;

  @media only screen and (min-width: 0) {
    font-size: ceil($font-size-base * 1.2);
  }

  @media only screen and (min-width: $medium-screen-up) {
    font-size: ceil($font-size-base * 1.2);
  }

  @media only screen and (min-width: $large-screen-up) {
    font-size: ceil($font-size-base * 1.3);
  }

  font-family: $font-family-base;
  font-weight: normal;
  color: $gray-base;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $font-size-h1; line-height: $headings-line-height; margin: ($font-size-h1 / 2) 0 ($font-size-h1 / 2.5) 0;}
h2 { font-size: $font-size-h2; line-height: $headings-line-height; margin: ($font-size-h2 / 2) 0 ($font-size-h2 / 2.5) 0;}
h3 { font-size: $font-size-h3; line-height: $headings-line-height; margin: ($font-size-h3 / 2) 0 ($font-size-h3 / 2.5) 0;}
h4 { font-size: $font-size-h4; line-height: $headings-line-height; margin: ($font-size-h4 / 2) 0 ($font-size-h4 / 2.5) 0;}
h5 { font-size: $font-size-h5; line-height: $headings-line-height; margin: ($font-size-h5 / 2) 0 ($font-size-h5 / 2.5) 0;}
h6 { font-size: $font-size-h6; line-height: $headings-line-height; margin: ($font-size-h6 / 2) 0 ($font-size-h6 / 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }

a {
  color: $gray-base;
  text-decoration: none;
}


// Lists
// -------------------------
// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $line-height-computed;
}
dt,
dd {
  line-height: $line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}
