<div class="card-big card">
    <a href="#video" class="video modal-trigger">
        <div class="video-thumb-wr">
            <img src="http://lorempixel.com/400/225" class="video-thumb"/>
            <div class="video-thumb-overlay">
                <svg fill="#FFFFFF" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
                </svg>
            </div>
        </div>
        <h3 class="video-title">Video Title</h3>
        <span class="video-chanel">by Author</span>
    </a>
</div>
