<div class="modal-wr">
  <div id="video" class="modal">
    <!--MODAL CONTENT-->
    <div class="modal-content row">

      <span class="modal-close"> Close</span> <!-- modal close button-->

      <!--Modal Video player-->
      <video id="really-cool-video" class="video-js vjs-default-skin vjs-polyzor-skin sm-12" controls
             preload="auto" width="400" height="300"
             data-setup='{}'>
        <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
        <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
        <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
      </video>
      <!-- END video player-->

      <!--Video details-->
      <div class="modal-video-details sm-12 md-8 lg-9">

        <h3 class="modal-video-title"><a href="#">Video Title</a></h3> <!--Video Title-->

        <a href="#" class="modal-video-author">by Julien</a> <!--Video Author-->

        <!--Video description-->
        <div class="modal-video-desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at aut consectetur doloremque dolorum eaque eligendi esse harum illum inventore ipsam iusto magni minima nam nesciunt nihil, nisi placeat reprehenderit soluta voluptate! Architecto dicta dolorum earum eos, explicabo fugit, hic id illum laborum mollitia placeat porro quo! At consectetur enim eum nesciunt omnis, praesentium quisquam saepe ut vel veniam vero voluptatem voluptates? Ad animi aspernatur cupiditate deleniti fuga! A cum doloribus, expedita impedit in, ipsa minima minus nihil non obcaecati qui quo reiciendis repellendus, similique veniam voluptas voluptatibus. Ad architecto at deserunt dolore esse, maxime nisi optio quos sequi ullam!
          </p>
          <span role="button" class="show-more">Show more</span>
          <span role="button" class="show-less">Show less</span>
        </div>
      </div> <!-- END Video description-->

      <!--AD banner-->
      <div class="ad sm-12 md-4 lg-3">
        <p>ADS</p>
      </div>
      <!--END AD banner-->

      <!--Video source-->
      <div class="modal-video-source">
        <a href="#" class="source">
          <span>Source</span>
          <svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.0" viewBox="0 0 32 32" width="32px" xml:space="preserve"><g><path d="M31.67,9.179c0,0-0.312-2.353-1.271-3.389c-1.217-1.358-2.58-1.366-3.205-1.443C22.717,4,16.002,4,16.002,4   h-0.015c0,0-6.715,0-11.191,0.347C4.171,4.424,2.809,4.432,1.591,5.79C0.633,6.826,0.32,9.179,0.32,9.179S0,11.94,0,14.701v2.588   c0,2.763,0.32,5.523,0.32,5.523s0.312,2.352,1.271,3.386c1.218,1.358,2.815,1.317,3.527,1.459C7.677,27.919,15.995,28,15.995,28   s6.722-0.012,11.199-0.355c0.625-0.08,1.988-0.088,3.205-1.446c0.958-1.034,1.271-3.386,1.271-3.386s0.32-2.761,0.32-5.523v-2.588   C31.99,11.94,31.67,9.179,31.67,9.179z" fill="#E02F2F"/><polygon fill="#FFFFFF" points="12,10 12,22 22,16  "/></g><g/><g/><g/><g/><g/><g/></svg>
        </a>
      </div> <!--END Video source-->

    </div> <!--END Modal content-->

  </div> <!--END Modal -->

</div> <!--END Modal Wrapper-->
