
<div class="sidebar">

  <div class="sidebar-header row middle-sm hide-on-large-only">
    <a href="/" class="logo sm-9">Logo</a>
    <span role="button" class="toggle-menu svg-icons">
      <svg fill="#646464" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
      </svg>
    </span>
  </div>

  <nav class="menu">
    <ul class="list-unstyled">

      <li>
        <a href="/" class="active">
          <svg fill="#646464" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="menu-icon">
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
          </svg>
          Home
        </a>
      </li>

      <li>
        <a href="#">
          <svg fill="#646464" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="menu-icon">
            <path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-8 12.5v-9l6 4.5-6 4.5z"></path>
          </svg>Collection
        </a>
      </li>

    </ul>
  </nav>
</div>
