@import "../settings";
@import "../mixin";

.home-view {
  transition: padding .4s, transform .4s ease;
  will-change: transform;
  margin: 0 -1rem 0 -1rem;
}

.video-categories {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 240px 1rem 1rem !important;

  @media #{$small-and-down} {
    padding: 1rem !important;
  }
}
.category-title {
  @include font-size(24);
  font-weight: 300;
  margin: 0 0 2rem 0;
  color: #6f6f6f;
}

ul.category-video-list {
  padding: .5rem;
  margin: 0 .3rem 0 .3rem;
  background: #fff;
  @include paper-material(1);

  li {
    overflow: auto;
    margin-bottom:2rem;
  }
}


//nav buttons
.prev {
  position: fixed;
  will-change:transform;
  top: 50%;
  transform:translate(0, -50%);
  left: 0;
  z-index: 8;
  width: 30px;
  height:100px;
  background: rgba(255, 255, 255, 0.95);
  transition: left .4s, background .3s ease;
  @include paper-material(3);

  @media #{$medium-and-down} {
    width: 50px;
    left: 0 !important;
  }

  &:hover {
    background: rgba(255, 255, 255, 1);
  }

  svg {
    @include center-vertically;
    width: 30px;
    height: 30px;
    font-weight:100;
  }
}

.next {
  @extend .prev;
  left: auto !important;
  right: 0;
}

next.disabled, .prev.disabled {
  display: none;
}
