//---------------------------------------
//CUSTOM UI EFFECTS FOR MATERIAL DESIGN
//---------------------------------------
@mixin paper-material( $depth ) {

  // 0 z-depth
  @if $depth < 1 {
    box-shadow: none;
  }

  // 1 z-depth
  @if $depth == 1 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  }

  // 2 z-depth
  @if $depth == 2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.3);
  }

  // 3 z-depth
  @if $depth == 3 {
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19),
    0 13px 25px 0 rgba(0, 0, 0, 0.3);
  }

  // 4 z-depth
  @if $depth == 4 {
    box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17),
    0 20px 40px 0 rgba(0, 0, 0, 0.3);
  }

  // 5 z-depth
  @if $depth == 5 {
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15),
    0 27px 55px 0 rgba(0, 0, 0, 0.3);
  }
}


//---------------------------
//CLEARFIX FOR FUCKING FLOATS
//---------------------------
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//---------------------
//POSITION
//---------------------
//usage :  @include absolute(top 100% left 0);
@mixin position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
      #{$o}: nth($args, $i + 1);
    }
  }
  position: $position;
}

// Positioning helpers
@mixin absolute($args: '') {
  @include position(absolute, $args);
}

@mixin fixed($args: '') {
  @include position(fixed, $args);
}

@mixin relative($args: '') {
  @include position(relative, $args);
}

//BOX MODEL
@mixin box($width, $height) {
  width: $width;
  height: $height;
}

//---------------------------
//OPACITY CROSS BROWSER
//---------------------------
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity = $opacity-ie); //IE8
}

//---------------------------
//REM UNITS IMPLEMENTING CSS rem UNITS WITH pixel FALLBACK.
//---------------------------
@mixin font-size($size, $base: 16) {
  font-size: $size; // fallback for old browsers
  font-size: ($size / $base) * 1rem;
}
//---------------------------
//RETINA IMAGES
//---------------------------
//usage:
//    background-image: url("img/logo.png");
//    @include retina("img/logo@2x.png", 100px, 21px);

@mixin retina($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* Serving 2x image on Retina display */
    background-image: url($image);
    background-size: $width $height;
  }
}
//------------------------
// CENTER BLOCK
//------------------------
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


//------------------------
//VERTICAL CENTERING
//------------------------
@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}

@mixin prefix($property, $value, $vendors: webkit moz ms o, $default: true) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  @if $default {
    #{$property}: #{$value};
  }
}
//------------------------
//VERTICAL ALIGN
//------------------------
@mixin valign {
  position: absolute;
  top: 50%;
  left: 0;
  @include prefix(transform, translate(0%, -50%), 'webkit' 'ms');
}
