
// 1. Global
//---------------

$global-w: 1200px;

$header-h: 64px;

$edge-padding: 1rem;

//svg-icons
$icns-h: 1.5rem;
$icns-w: 1.5rem;


// 2. Colors
//---------------
$gray-base:       #000 !default;
$gray-darker:     lighten($gray-base, 13.5%) !default; // #222
$gray-dark:       lighten($gray-base, 20%) !default;   // #333
$gray:            lighten($gray-base, 33.5%) !default; // #555
$gray-light:      lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:    lighten($gray-base, 93.5%) !default; // #eee

$color-palette: (
  'primary': darken(#26A69A, 6.5%),
  'succes': #5cb85c,
  'info': #5bc0de,
  'warn': #f0ad4e,
  'danger': #d9534f
);

@function color-palette($key: 'primary') {
  @return map-get($color-palette, $key);
}

$body-bg:         #eeeeee !default;
$text-color:      $gray-dark !default;

// 2. Breakpoints
// --------------

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;


// 3. Typo
//---------------
$font-family-base:  "Roboto", Helvetica, Arial, sans-serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:          15px !default;
$line-height-base:        1.5 !default;

$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


// 4. Buttons
//----------------
/*** Buttons ***/
$button-bg-color-disabled: #DFDFDF !default;
$button-color: color-palette('primary')!default;
$button-color-disabled: #9F9F9F !default;
$button-color-flat: #343434 !default;
$button-color-raised: #fff !default;
$button-floating-size: 37px !default;
$button-height: 36px !default;
$button-font-size-shared: 1.3rem !default;
$button-large-icon-font-size: 1.6rem !default;
$button-line-height: 36px !default;
