@import "mixin";
@import "settings";
@import "components/helpers";

@import "pages/home";

* {
  box-sizing: border-box;
  word-break: break-all;
}

html, body {
  width: 100%;
  height: 100%;
  background: $body-bg;
  color: $text-color;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: $header-h $edge-padding 0 ;
}

[role='button'] {
  cursor: pointer;
}
