@import "../mixin";
@import "../settings";

//RATIO 16:9

//big
$big-w: 400px;
$big-h: 225px;

//medium
$md-w: 300px;
$md-h:169px;

//small
$sm-w: 200px;
$sm-h: 113px;


.card {
  position: relative;
  width: auto;
  height: auto;
  margin:0;

  @media #{$small-and-down} {
    width: 300px !important;

    & .video-thumb {
      width: 300px !important;
      height: 169px !important;
    }
  }

  &-big {
    width: $big-w;

    & .video-thumb {
      width: $big-w;
      height: 225px;
    }
  }

  &-medium {
    width: $md-w;



    & .video-thumb {
      width: $md-w;
      height: 169px;
    }
  }

  &-small {
    width: $sm-w;

    & .video-thumb {
      width: $sm-w;
      height: 113px;
    }
  }
}

.video {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 0;



  .video-thumb-wr {
    position: relative;
    display: block;
    height: auto;
    overflow: hidden;

    &:hover {
      .video-thumb-overlay {
        opacity: 1;
      }
    }
  }

  .video-thumb {
    width: 100%;
    height: auto;
  }

  .video-thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.51);
    opacity: 0;
    transition: opacity .2s linear;

    svg {
      width: 35px;
      height: 35px;
      @include center-vertically;
    }
  }

  .video-title {
    margin: 5px 0 0 0;
    font-size: floor($font-size-large / .9);
    font-weight:300;
    color: #5f5f5f;
    line-height:1;

  }
}

.video-chanel {
  font-size: floor($font-size-base / 1.1);
  font-variant: small-caps;
  text-transform: lowercase;
  color: #7b7b7b;
  line-height:1;
}

.card-medium {
  .video-title {
    font-size: floor($font-size-large / 1);
  }
}

.card-small {
  .video-title {
    font-size: floor($font-size-large / 1.1);
  }
}
