@import "../mixin";
@import "../settings";
@import "../components/animations";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-h;
  background: color-palette('primary');
  transition: height .4s ease-in-out;
  overflow: hidden;
  z-index: 9;
}

#toggle-menu  {
  display: inline-block;
  overflow: hidden;
  width: $icns-w;
  height: $icns-h;
}

.header-left-side, .header-right-side {
  transition: transform .4s ease-in-out;
}

.header-right-side {
  .svg-icons {
    margin-left:15px;
  }
}


// MOBILE LAYOUT
//---------------------
@media #{$small-and-down} {
  .header-center-side {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .header-left-side, .header-right-side {
    transition: none;
    transform: translate3d(0,0,0) !important;
  }
}
