@import "../mixin";
@import "../components/z-depth";
@import "../settings";


.search-wr {
  position: relative;
  display: flex;
  width: 80%;
  height: 44px;
  padding: 5px;
  background: rgba(#fff, .4);
  border-radius: 3px;
  transition: width .4s, background .4s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include paper-material(2);
    transition: opacity .4s ease-in-out;
    opacity: 0;
  }
}

.search-icon {
  flex-wrap: nowrap;
  svg {
    transition: all .4s ease-in-out;
  }
}

.search-input-field {
  flex-wrap: nowrap;
}

.search-input {
  width: 100%;
  background: none;
  border:0;
  outline: none;
  font-weight: 200;
  color: #fff;
  transition: color .4s ease-in-out;

  &::-webkit-input-placeholder {
    color: #fff;
  }
}


// SEARCH MODE
//--------------
.mode-search {

  .search-wr {
    width: 100%;
    background: #fff;
    transform: translate3d(0, 0, 0) translateZ(0); //for mobile search

    &::before {
      opacity: 1;
    }
  }


  .search-input {
    color: #333;
  }

  .toggle-menu {
    pointer-events: none;
  }

  .search-icon {
    svg {
      fill: #333;
    }
  }

  .header-left-side {
    transform: translate3d(-100%, 0,0);

  }

  .header-right-side{
    transform: translate3d(100%, 0,0);
  }
}


//MOBILE LAYOUT
@media #{$small-and-down} {
  .search-wr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-h;
    background: #fff;
    color: #333333;
    border-radius: 0;
    transform: translate3d(0, -100%, 0) translateZ(0);
    transition: transform .25s ease-in-out;
    box-shadow: none;
  }
}
