@import "../settings";
@import "../mixin";

$sidebar-w: 240px;

.sidebar {
  will-change:transform;
  position: fixed;
  left: 0;
  top: $header-h;
  width: $sidebar-w;
  height: 100%;
  transition: transform .4s, background .4s linear;
  transform: translate(-110%, 0);
  background: $body-bg;
  z-index: 10;
}

.sidebar-header {
  padding: 1rem;

  .toggle-menu {
    margin-left:auto;
  }
}

.menu {
  padding-top: 1rem;

  a {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    line-height: 3;
    @include font-size(12);
    color: #646464;
    transition: background-color .5s ease-in-out;

    .menu-icon {
      margin-right:10px;
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: #e7e7e7;
      transition: background-color .3s ease-in-out;
    }
  }
}

.active {
  color: color-palette("primary") !important;

  .menu-icon {
    fill: color-palette("primary");
  }
}

// MODE SIDE NAV
//----------------
.show-sidenav {
  .sidebar {
    transform: translate(0,0);
  }

  .home-view {
    //padding-left: $sidebar-w;
    transform: translate3d($sidebar-w, 0, 0);
  }
  .prev {
    left: $sidebar-w;
  }
}

// MOBILE LAYOUT
//-----------------

@media #{$medium-and-down} {

  .sidebar {
    top: 0;
    background: #fff;
    transition: transform .4s, background .5s linear ;
    transform:translate(0, 0);
    @include paper-material(3);
  }

  .home-view {
    transform: translate(0, 0) !important;
    //padding-left: 0 !important;
  }

  .show-sidenav {
    .sidebar {
      transform: translate(-110%,0) !important;
    }
  }
}
