<!--Home view-->

<div id="frame" class="home-view">
  <div class="video-categories">
    <ul class="category-video-list list-unstyled">
      <h2 class="category-title">Recente</h2>
      <li>

    </ul>
  </div>
</div>


<div class="modal-wr">
  <div id="video" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"></a></div>
  </div>
</div>
